build
*.out
*.ll
*.s

# Latex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.lol
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls
*.out
*.pdfsync
report/*.pdf
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.fls